@charset "utf-8";
/* CSS Document */
#box1 {
		   background-color: #DF4C4F;
		   }
		 #box2 {
		   background-color: #E1CC3A;
		   }
		 #box3 {
		   background-color: #DF4C4F;
		   }
		 #box4 {
		   background-color: #E1CC3A;
		   }
		 #box5 {
		   background-color: #FFFFFF;
		   }

